#<IfModule mod_rewrite.c >
#    RewriteEngine on
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*) index.php [PT, L]
#</IfModule>

RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# test changes
# one more change
RewriteRule ^(.*)$ index.php